.button {
    display: block;
    width: 115px;
    height: 40px;
    background: #4E9CAF;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 25px;
}
 a { 
    text-decoration: none;
}
.main-div{
    width: 100%;
    display: block;
    margin: auto;
    margin-top: 15px;

}
span.align-right { text-align:right; }
span { width:50%; display:inline-block; }
.left {
    font-size: large;
    padding-left: 33px;
}
.highChartClass{
    
}